+b('header').header

	.container
		.row
			.col-md-12

				+e.__inner

					.logo
						img.logo-img(src="./images/logo.png", alt="logo")

					+e('nav').__menu
						+e('a').__menu-link(href='#apparea') Область приминения
						+e('a').__menu-link(href='#aiml') AI/ML
						+e('a').__menu-link(href='#blockchain') Blockchain
						+e('a').__menu-link(href='#map') MAP
						+e('a').__menu-link(href='#contacts') Контакты

					+lang-toggler()