+b('header').header

	.container
		.row
			.col-md-12

				+e.__inner

					.logo
						img.logo-img(src="./images/logo.png", alt="logo")

					+e('nav').__menu
						+e('a').__menu-link(href='#') Область приминения
						+e('a').__menu-link(href='#') AI/ML
						+e('a').__menu-link(href='#') Blockchain
						+e('a').__menu-link(href='#') MAP
						+e('a').__menu-link(href='#') Контакты