+b.map#map
	.container
		.row
			.col-12
				
				+e.__inner

					+e('h2').__title.h2 Map

					+e.__descr Интеллектуальное картографирование интеллектуальное программное обеспечение

					+e.__btn
						button.btn.btn--white(data-toggle='modal' data-target='#modalHeroMap') Подробнее

					//- +e.__pic.hidden-lg-down
						+e('img').__pic(src='./images/map-pic.png' alt='pic')