//- Главная

-
	var pages = [
		{name: 'Главная', link: 'index'},
		//- {name: 'Эталонка', link: 'etalon'},
		//- {name: '404', link: '404'},
		//- {name: 'Форма', link: 'form'},
		//- {name: 'Авторизация', link: 'auth'},
		//- {name: 'Список новостей 0', link: 'news'},
		//- {name: 'Список новостей 1', link: 'news-list-1'},
		//- {name: 'Список новостей 2', link: 'news-list-2'},
		//- {name: 'Список новостей 3', link: 'news-list-3'},
		//- {name: 'Новость вид 1', link: 'news-view-1'},
		//- {name: 'Новость вид 2', link: 'news-view-2'},
		//- {name: 'Новость вид 3', link: 'news-view-3'},
		//- {name: 'Вакансии', link: 'vacancies'},
		//- {name: 'Каталог вид 1', link: 'catalog'},
		//- {name: 'Каталог вид 2', link: 'catalog-horizontal'},
		//- {name: 'Карточка товара', link: 'card-detail'},
		//- {name: 'Корзина', link: 'cart'},
		//- {name: 'Поиск', link: 'search'},
		//- {name: 'Контакты', link: 'contacts'},
		//- {name: 'Сертификаты', link: 'certificates'},
		//- {name: 'Партнеры', link: 'partners'},
		//- {name: 'Сотрудники', link: 'staff'},
		//- {name: 'Отзывы', link: 'reviews'},
		//- {name: 'Отзывы с ответами', link: 'reviews-answer'},
		//- {name: 'Карта сайта', link: 'sitemap'},
		//- {name: 'Dev: Все блоки', link: 'dev_page'},
	]

mixin pages-viget()

	+b.pages-viget

		+e.__menu
			+e('ul').__menu-list

				each item in pages
					+e('li').__menu-item
						+e('a').__menu-link(href= './' + item.link + '.html')= item.name

		+e.__btn
			+icon('i-house')