include ../utility/bemto-setting
include ../utility/_mixins
include ../utility/_functions

block vars
	- var bodyClass = ''
	- var pageTitle = ''
	- var pageHead = ''
	- var dir = ''
	- var layout = ''
	- var componentsList = [] //список имен всех компонентов

doctype html
html(lang='ru-RU')

	head
		meta(charset='UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= pageTitle

		include ../utility/_favicon

		link(rel='stylesheet', href= dir + '../assets/css/critical/critical.css' inline)
		link(rel='stylesheet', href= dir + 'styles.css')
		link(rel='stylesheet', href= dir + 'css/styles.min.css')

	body.no-js(class=bodyClass)

		script.
			var bodyNojs = document.querySelectorAll('body');
			bodyNojs[0].classList.remove('no-js');

		.wrapper

			include ../partials/header/header

			main.main
				block main

			include ../partials/footer/footer

		block popups

		// Виджет для перехода по всем страницам проекта
		+pages-viget()

		// Полключение стилей компонентов
		block componentsStyles

		//- async defer
		//- script(src="./js/jquery/jquery-3.3.1.min.js")
		script(src="./js/jquery/jquery-3.0.0.slim.min.js")
		//- Нужен для бутстрапных dropdowns, popovers, tooltips 
		//- script(src="./js/vendor/popper.js" defer) 
		script(src="./js/bootstrap/bootstrap.min.js" defer)
		script(src="./js/vendor/svg4everybody.js" defer)
		block scripts
		script(src="./js/app.min.js" defer)
