.modal

	.modal-dialog
		max-width: 1095px
		margin-top: 60px
		padding-left: 20px
		padding-right: 20px

		+media($sm)
			padding-left: 0
			padding-right: 0

	.modal-content
		border-radius: 2px

	.modal-body
		padding: 95px

		+media($lg)
			padding: 50px

		+media($sm)
			padding: 30px

	.modal-header
		padding: 0
		border-bottom: none

	.close-popup
		position: absolute
		right: 25px
		top: 25px
		width: 35px
		height: 35px
		background: 0 0
		border: none
		cursor: pointer
		line-height: 1
		z-index: 10
		transition: .2s
		font-size: 0
		line-height: 0

		&:after
			content: ''
			position: absolute
			display: block
			width: 25px
			height: 2px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(45deg)
			background-color: $c-text

		&:before
			content: ''
			position: absolute
			display: block
			width: 25px
			height: 2px
			top: 50%
			left: 50%
			transform: translate(-50%, -50%) rotate(-45deg)
			background-color: $c-text

		&:hover
			transform: scale(1.3)

	&__title-wrap
		display: flex
		align-items: flex-end

		+media($sm)
			flex-direction: column
			align-items: center

	&__icon
		flex: 0 0 130px
		width: 130px
		height: 130px

		+media($sm)
			flex: 0 0 100px
			width: 100px
			height: 80px

	&__pic
		margin-top: 40px

	&__title
		margin-left: 40px
		font-size: 46px
		letter-spacing: -0.02em
		line-height: 1

		+media($lg)
			font-size: 36px

		+media($md)
			font-size: 26px

		+media($sm)
			margin-left: 0
			font-size: 26px
			text-align: center

	&__descr
		margin-top: 60px
		font-size: 25px
		line-height: 1.3

		+media($lg)
			margin-top: 30px

		+media($sm)
			font-size: 20px

	&__list
		margin-top: 40px

		+media($lg)
			margin-top: 30px

		&-item
			position: relative
			padding-left: 30px

			+media($sm)
				padding-left: 15px

			&:after
				+pseudo
				width: 8px
				height: 8px
				left: 0
				top: 8px
				+circle
				background-color: $c-main

			&:not(:last-child)
				margin-bottom: 10px

	&__text
		margin-top: 40px

		+media($lg)
			margin-top: 30px


	
	
.modal-app-area

	.modal-body
		position: relative
		border: 15px solid #f4fafd
		z-index: 5

		&:before
			+pseudo
			width: 586px
			height: 656px
			bottom: -68px
			right: -64px
			background: url('../images/finger-print.svg') no-repeat 50% 50%
			z-index: -5

			+media($sm)
				display: none

.modal-hero

	.modal-body


	&__head
		margin: -95px -95px 0
		padding: 57px 95px 57px 95px

		+media($lg)
			margin: -50px -50px 0
			padding: 50px

		+media($md)
			padding: 40px

		+media($sm)
			margin: -30px -30px 0
			padding: 30px

		&-descr
			margin-top: 30px
			font-size: 18px

		&-btn
			margin-top: 40px

			+media($sm)
				margin-top: 30px

		&--right
			padding-left: 600px
			background: linear-gradient(39.03deg, #8DDCF6 -48.89%, #EAFAFF 81.62%)

			+media($xl)
				padding-left: 450px

		&--left
			background: #f7f7f7

	&__body