svg.icon-prognoz(width='118', height='114', viewBox='0 0 118 114', fill='none', xmlns='http://www.w3.org/2000/svg')
	g.pipe
		rect(x='30.0586', y='68.0588', width='57.2353', height='34.8824', stroke='#FF9010', stroke-width='2')
		path(d='M22.2354 56.8823H26.2942C28.5033 56.8823 30.2942 58.6732 30.2942 60.8823V109C30.2942 111.209 28.5033 113 26.2942 113H22.2354V56.8823Z', stroke='#FF9010', stroke-width='2')
		path(d='M14.4116 60.8823C14.4116 58.6732 16.2025 56.8823 18.4116 56.8823H22.4704V113H18.4116C16.2025 113 14.4116 111.209 14.4116 109V60.8823Z', stroke='#FF9010', stroke-width='2')
		path(d='M94.8823 56.8823H98.9412C101.15 56.8823 102.941 58.6732 102.941 60.8823V109C102.941 111.209 101.15 113 98.9411 113H94.8823V56.8823Z', stroke='#FF9010', stroke-width='2')
		path(d='M87.0586 60.8823C87.0586 58.6732 88.8495 56.8823 91.0586 56.8823H95.1174V113H91.0586C88.8495 113 87.0586 111.209 87.0586 109V60.8823Z', stroke='#FF9010', stroke-width='2')
		path(d='M107.294 67.45H117.744', stroke='#FF9010', stroke-width='2')
		path(d='M107.294 102.6H117.744', stroke='#FF9010', stroke-width='2')
		path(d='M0 67.45H10.45', stroke='#FF9010', stroke-width='2')
		path(d='M0 102.6H10.45', stroke='#FF9010', stroke-width='2')
	g.monometr
		circle(cx='58.7835', cy='29.45', r='28.45', stroke='#FF9010', stroke-width='2')
		circle(cx='58.7834', cy='29.4499', r='21.8', stroke='#FF9010', stroke-width='2')
		path(d='M54.2061 39.6765H63.1472', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M59.2354 45.8235V50.2941', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M59.2354 8.94116V13.4118', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M42.4707 29.0588L38.0001 29.0588', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M79.353 29.0588L74.8824 29.0588', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M47.4336 40.7993L44.281 43.9519', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M73.2847 14.9481L70.1321 18.1007', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M47.4336 18.1006L44.281 14.948', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
		path(d='M73.2847 43.9519L70.1321 40.7993', stroke='#FF9010', stroke-width='2', stroke-linecap='round')
	g.arrow
		circle(cx='58.7835', cy='29.4501', r='4.7', stroke='#FF9010', stroke-width='2')
		path(d='M50.2939 21.2352L54.9827 26.125', stroke='#FF9010', stroke-width='2', stroke-linecap='round')

