svg(width='129', height='112', viewBox='0 0 129 112', fill='none', xmlns='http://www.w3.org/2000/svg')
	circle(cx='69.8415', cy='52.155', r='31.944', stroke='#FF9010', stroke-width='2')
	path(d='M86.4259 70.3406C82.0674 74.1701 76.3118 76.4987 70.0021 76.4987C59.9979 76.4987 51.3865 70.6449 47.5283 62.2362', stroke='#FF9010', stroke-width='2')
	path(d='M96.8054 86.5664C96.4149 86.1758 96.4149 85.5427 96.8054 85.1521L99.8215 82.136L102.838 79.1199C103.228 78.7294 103.861 78.7294 104.252 79.1199L126.806 101.674C127.196 102.064 127.196 102.697 126.806 103.088L120.773 109.12C120.383 109.511 119.75 109.511 119.359 109.12L96.8054 86.5664Z', stroke='#FF9010', stroke-width='2')
	path(d='M11.187 44.5853L25.6202 27.7465M33.9517 26.185L44.935 32.4147M68.9218 20.0971L75.867 12.1609', stroke='#FF9010', stroke-width='2')
	circle(cx='7.22087', cy='48.8312', r='5.36931', stroke='#FF9010', stroke-width='2')
	circle(cx='29.1595', cy='22.6465', r='6.07701', stroke='#FF9010', stroke-width='2')
	circle(cx='80.1136', cy='7.07701', r='6.07701', stroke='#FF9010', stroke-width='2')
	path(d='M62.6865 38.7139L77.9994 22.042', stroke='#FF9010', stroke-width='2')
	circle(cx='56.6049', cy='45.3804', r='8.07611', stroke='#FF9010', stroke-width='2')
