svg(width='92', height='125', viewBox='0 0 92 125', fill='none', xmlns='http://www.w3.org/2000/svg')
	path(d='M4.40625 96.0813H49V1H5V48.4843', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M49 31H91V96H49V31Z', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M63 81C63 80.4477 63.4477 80 64 80H75.9931C76.5454 80 76.9931 80.4477 76.9931 81V95.9577H63V81Z', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M14 14H22', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M14 31H22', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M32 14H40', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M32 31H40', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M32 49H40', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M58 49H66', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M58 67H66', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M74 49H82', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M74 67H82', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M32 67H40', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M25.2898 71.4229C25.2898 78.206 19.8437 83.6891 13.1449 83.6891C6.44609 83.6891 1 78.206 1 71.4229C1 67.9548 2.41471 62.4431 4.74419 57.7916C5.90469 55.4743 7.26265 53.4314 8.73078 51.9823C10.2058 50.5264 11.6964 49.7598 13.1449 49.7598C14.5933 49.7598 16.084 50.5264 17.559 51.9823C19.0271 53.4314 20.3851 55.4743 21.5456 57.7916C23.875 62.4431 25.2898 67.9548 25.2898 71.4229Z', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M13 84V96.0812M13 73V62', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M63.5 96.5L67.8169 101.602C68.5808 102.505 69 103.649 69 104.832V119M48.5 96.5L54 103M56.5 109V107.81C56.5 106.641 56.0899 105.508 55.3411 104.609L54 103M54 103L50.1366 106.512C49.0943 107.46 48.5 108.803 48.5 110.212V114', stroke='#FF8900', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
	path(d='M33 96.5L27.5 103M25 109L24.9973 107.82C24.9946 106.645 25.4065 105.505 26.1605 104.603L27.5 103M27.5 103L31.3634 106.512C32.4057 107.46 33 108.803 33 110.212V114', stroke='#FF8900', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
	path(d='M66.8657 121.933C66.8657 123.075 67.7912 124 68.9329 124C70.0745 124 71 123.075 71 121.933C71 120.791 70.0745 119.866 68.9329 119.866C67.7912 119.866 66.8657 120.791 66.8657 121.933Z', stroke='#FF8900', stroke-width='2', stroke-linejoin='round')
	path(d='M30.8125 116.237C30.8125 117.378 31.738 118.304 32.8796 118.304C34.0213 118.304 34.9468 117.378 34.9468 116.237C34.9468 115.095 34.0213 114.17 32.8796 114.17C31.738 114.17 30.8125 115.095 30.8125 116.237Z', stroke='#FF8900', stroke-width='2', stroke-linejoin='round')
	path(d='M46.3394 116.675C46.3394 117.817 47.2648 118.742 48.4065 118.742C49.5481 118.742 50.4736 117.817 50.4736 116.675C50.4736 115.533 49.5481 114.608 48.4065 114.608C47.2648 114.608 46.3394 115.533 46.3394 116.675Z', stroke='#FF8900', stroke-width='2', stroke-linejoin='round')
