svg.icon-prognoz(width='130', height='113', viewBox='0 0 130 113', fill='none', xmlns='http://www.w3.org/2000/svg')
	g.lens
		path(d='M82.4757 62.3826C82.8552 62.1588 83.3365 62.2097 83.6607 62.508L85.8468 64.5192L85.8037 73.4076L85.7857 77.0938L61.0197 77.1991C59.9992 77.2034 59.6284 75.8561 60.5074 75.3377L82.4757 62.3826Z', fill='#40BFF5')
		circle(cx='70.0267', cy='52.9387', r='32.4391', stroke='#625A5A', stroke-width='2')
		path(d='M86.8603 71.3976C82.4363 75.2846 76.5941 77.6482 70.1896 77.6482C60.0352 77.6482 51.2943 71.7064 47.3782 63.1714', stroke='#625A5A', stroke-width='2')
		path(d='M97.364 87.8565C96.9735 87.466 96.9735 86.8328 97.364 86.4423L100.447 83.3596L103.529 80.2769C103.92 79.8864 104.553 79.8864 104.944 80.2769L127.879 103.212C128.269 103.603 128.269 104.236 127.879 104.626L121.713 110.792C121.323 111.182 120.69 111.182 120.299 110.792L97.364 87.8565Z', stroke='#625A5A', stroke-width='2')
	
	circle(cx='28.9283', cy='22.8381', r='5.58265', fill='#FF8900')
	
	path(d='M10.491 45.2552L25.1411 28.1634M33.5977 26.5785L44.7461 32.9018M69.0934 20.3991L76.1429 12.3436', stroke='#625A5A', stroke-width='2')
	circle(cx='6.46501', cy='49.565', r='5.46501', stroke='#625A5A', stroke-width='2')
	circle(cx='28.7334', cy='22.9868', r='6.18335', stroke='#625A5A', stroke-width='2')
	circle(cx='80.4534', cy='7.18335', r='6.18335', stroke='#625A5A', stroke-width='2')
	path(d='M62.7639 39.2956L78.3069 22.3732', stroke='#625A5A', stroke-width='2')
	circle(cx='56.5909', cy='46.0623', r='8.21249', stroke='#625A5A', stroke-width='2')
