svg(width='87', height='127', viewBox='0 0 87 127', fill='none', xmlns='http://www.w3.org/2000/svg')
	path(d='M1.60449 77.923C4.1413 95.2593 17.2404 129.1 49.3425 125.771C52.8018 98.0331 29.2787 82.7771 1.60449 77.923Z', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M52.429 91.0045C61.1606 84.4033 72.8534 80.1064 85.396 77.923C83.6653 89.6615 77.0347 108.999 62.8417 119.132', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	circle(cx='41.4397', cy='40.8352', r='38.8352', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M2.2915 41.191H80', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M42.0972 1.70508V79.267', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M42.0973 1.70508C48.6783 6.17076 61.8403 17.9226 61.8403 41.1911C61.8403 62.0623 48.6783 75.7414 42.0973 79.9721', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M42.098 1.70508C35.517 6.17076 22.355 17.9226 22.355 41.1911C22.355 62.0623 35.517 75.7414 42.098 79.9721', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M14.7632 12.9869C21.213 17.2629 30.1327 20.743 42.0976 20.743C52.8297 20.743 61.6602 17.2629 68.2822 12.9869', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
	path(d='M68.9121 67.9853C62.4623 63.7093 52.9128 60.2291 40.9479 60.2291C30.2158 60.2291 20.5891 63.7093 13.9671 67.9853', stroke='#FF8900', stroke-width='2', stroke-linecap='round')
