+b.app-area
	.container
		.row
			.col-12

				+e.__inner

					+e.__slider

						+e.__slider-marker
							+e('h2').__title.h2 Область применения

							+e.__slider-marker-list
								+e.__slider-marker-col
									+e.__slider-marker-item(data-active='0').active
										+e.__slider-marker-item-text Энергетика
									+e.__slider-marker-item(data-active='1')
										+e.__slider-marker-item-text Транспортные системы
									+e.__slider-marker-item(data-active='2')
										+e.__slider-marker-item-text Экология контроль выбросов
									+e.__slider-marker-item(data-active='3')
										+e.__slider-marker-item-text Умный город
									+e.__slider-marker-item(data-active='4')
										+e.__slider-marker-item-text Умные парковки
								+e.__slider-marker-col
									+e.__slider-marker-item(data-active='5')
										+e.__slider-marker-item-text Газ и вода
									+e.__slider-marker-item(data-active='6')
										+e.__slider-marker-item-text Фискализация
									+e.__slider-marker-item(data-active='7')
										+e.__slider-marker-item-text Учёт налогов
									+e.__slider-marker-item(data-active='8')
										+e.__slider-marker-item-text Прогнозирование
									+e.__slider-marker-item(data-active='9')
										+e.__slider-marker-item-text Освещение
						
						+e.__slider-main

							+e.__slider-main-wrap.js_slider-arr-area

								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Энергетика
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Транспортные системы
										+e.__slider-item-descr Современные электр
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Экология контроль выбросов
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Умный город
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Умные парковки
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Газ и вода
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Фискализация
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Учёт налогов
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Прогнозирование
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее
								+e.__slider-item
									+e.__slider-item-wrap
										+e.__slider-item-pic
											img(src="./images/app-icon_1.svg", alt="pic")
										+e.__slider-item-title Освещение
										+e.__slider-item-descr Современные электрические счётчики это не только приборы учёта электроэнергии, но и универсальные измерители параметров тока.
										+e.__slider-item-btn
											button.btn.btn--outline Подробнее

							+e.__slider-nav
								+e.__slider-nav-arrow.--prev
								+e.__slider-nav-arrow.--next