svg.icon-fisk(width='70', height='104', viewBox='0 0 70 104', fill='none', xmlns='http://www.w3.org/2000/svg')
	g.gcheck
		path(d='M51.7639 37.7167V27.8955C51.7639 24.704 51.0001 21.5588 49.5363 18.7227L46.1631 12.1872C44.6993 9.35111 43.9355 6.2059 43.9355 3.01434V2L37.7381 4.93562L31.5407 2L25.3433 4.93562L19.1458 2L12.9484 4.93562L6.75098 2V3.01434C6.75098 6.20589 7.51478 9.35111 8.97856 12.1872L12.3517 18.7227C13.8155 21.5588 14.5793 24.704 14.5793 27.8955V30.3777', stroke='#625A5A', stroke-width='2')
	g.gbuttons
		path(d='M19.7995 97.6148C20.0023 97.9363 20.0053 98.345 19.8072 98.6694L12.3225 110.926C11.798 111.785 10.4763 111.418 10.4691 110.412L10.2927 86.0083C10.2854 85.002 11.6017 84.6164 12.1385 85.4676L19.7995 97.6148Z', fill='#FF8900')
		path(d='M54.0807 74.7713C54.7378 74.4181 55.5364 74.8828 55.5539 75.6286L55.5758 76.5641L55.5334 85.3209L55.5156 88.9525L31.4842 89.0547C30.4427 89.0591 30.0891 87.667 31.0065 87.1739L54.0807 74.7713Z', fill='#40BFF5')
		rect(x='12', y='78', width='9', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='28', y='78', width='10', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='45', y='78', width='10', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='12', y='89', width='9', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='28', y='89', width='10', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='45', y='89', width='10', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='12', y='100', width='9', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='28', y='100', width='10', height='4', stroke='#625A5A', stroke-width='2')
		rect(x='45', y='100', width='10', height='4', stroke='#625A5A', stroke-width='2')
		path(d='M14.5794 25.9742H6.8584C4.09698 25.9742 1.8584 28.2128 1.8584 30.9742V111C1.8584 113.761 4.09698 116 6.8584 116H59.485C62.2464 116 64.485 113.761 64.485 111V30.9742C64.485 28.2128 62.2464 25.9742 59.485 25.9742H51.764', stroke='#625A5A', stroke-width='2')
		rect(x='11.6655', y='49.4807', width='43.0129', height='18.5494', stroke='#625A5A', stroke-width='2')
		rect(x='11.1548', y='37.2276', width='44.0343', height='0.978541', stroke='#625A5A', stroke-width='0.978541')
		path(d='M71 31.8669H73.8069C76.016 31.8669 77.8069 33.6578 77.8069 35.8669V92.4077C77.8069 94.6169 76.016 96.4077 73.8069 96.4077H71V31.8669Z', stroke='#625A5A', stroke-width='2')
