svg.icon-tax(width='129', height='112', viewBox='0 0 129 112', fill='none', xmlns='http://www.w3.org/2000/svg')
	g.col1
		rect(x='3', y='73', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='2', y='65', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='3', y='57', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='1', y='49', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
	g.col2
		rect(x='36', y='73', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='33', y='65', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='35', y='57', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='33', y='49', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='35', y='41', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='35', y='33', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
	g.col3
		rect(x='68', y='73', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='66', y='65', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='66', y='57', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='68', y='49', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='67', y='41', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='68', y='33', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='70', y='25', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='67', y='17', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='68', y='9', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
		rect(x='68', y='1', width='25', height='4', rx='1', fill='white', stroke='#625A5A', stroke-width='1')
	path(d='M18.3647 73.15C18.5675 73.4715 18.5705 73.8802 18.3724 74.2046L9.25394 89.1366C8.72947 89.9955 7.40779 89.629 7.40052 88.6227L7.18564 58.8921C7.17837 57.8858 8.49461 57.5002 9.03145 58.3514L18.3647 73.15Z', fill='#FF8900')
	path(d='M90.4456 4.82347C90.18 4.13615 90.7237 3.40734 91.4582 3.46615L92.8621 3.57856L103.038 4.79375L107.258 5.29793L104.333 35.5012C104.231 36.5506 102.785 36.7487 102.405 35.7653L90.4456 4.82347Z', fill='#40BFF5')