svg(width='79', height='117', viewBox='0 0 79 117', fill='none', xmlns='http://www.w3.org/2000/svg')
	path(d='M14.5794 25.9742H6.8584C4.09698 25.9742 1.8584 28.2128 1.8584 30.9742V111C1.8584 113.761 4.09698 116 6.8584 116H59.485C62.2464 116 64.485 113.761 64.485 111V30.9742C64.485 28.2128 62.2464 25.9742 59.485 25.9742H51.764', stroke='#FF9E2E', stroke-width='2')
	rect(x='11.6655', y='49.4807', width='43.0129', height='18.5494', stroke='#FF9E2E', stroke-width='2')
	rect(x='12', y='78', width='9', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='11.1548', y='37.2276', width='44.0343', height='0.978541', stroke='#FF9E2E', stroke-width='0.978541')
	path(d='M51.7639 37.7167V27.8955C51.7639 24.704 51.0001 21.5588 49.5363 18.7227L46.1631 12.1872C44.6993 9.35111 43.9355 6.2059 43.9355 3.01434V2L37.7381 4.93562L31.5407 2L25.3433 4.93562L19.1458 2L12.9484 4.93562L6.75098 2V3.01434C6.75098 6.20589 7.51478 9.35111 8.97856 12.1872L12.3517 18.7227C13.8155 21.5588 14.5793 24.704 14.5793 27.8955V30.3777', stroke='#FF9E2E', stroke-width='2')
	rect(x='28', y='78', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='45', y='78', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='12', y='89', width='9', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='28', y='89', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='45', y='89', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='12', y='100', width='9', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='28', y='100', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	rect(x='45', y='100', width='10', height='4', stroke='#FF9E2E', stroke-width='2')
	path(d='M71 31.8669H73.8069C76.016 31.8669 77.8069 33.6578 77.8069 35.8669V92.4077C77.8069 94.6169 76.016 96.4077 73.8069 96.4077H71V31.8669Z', stroke='#FF9E2E', stroke-width='2')
