// Модалка Спасибо

.modal-thanks.modal.fade#modalThanks
	.modal-dialog
		.modal-content
			
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true") ×

			.modal-body
				.auth-title Спасибо за обращение
				.auth-descr Ожидайте связи с нашим оператором.
				.action-group.tac
					button.btn(type='submit' data-dismiss="modal" aria-hidden="true") Перейти на сайт