-
	var componentName = 'component1/';
	
	isInComponentsList(componentsList, componentName);



.component1

	p.component__title Component 1 Title

	include ../../blocks/block-1/block1

	p= componentsList