+b.blockchain
	.container
		.row
			.col-12
				
				+e.__inner

					+e('h2').__title.h2 Blockchain

					+e.__descr Интеллектуальное картографирование - это интеллектуальное программное

					+e.__btn
						button.btn Подробнее