.blockchain
	margin-top: 80px

	+media($sm)
		margin-top: 40px

	&__inner
		padding: 75px 50px
		padding-left: 600px
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)
		border-radius: 2px

		+media($xl)
			padding-left: 450px

		+media($lg)
			padding: 50px 50px 50px 350px

		+media($md)
			padding: 40px


	&__title

	&__descr
		margin-top: 23px

	&__btn
		margin-top: 43px