.block1

	p block 1

	+icon('i_add', 'mod')



	.i-bg.i-question

	.i-bg.i-bg--soc.socials--i-fb
	.i-bg.i-bg--soc.socials--i-google
	.i-bg.i-bg--soc.socials--i-vk

	.i-bg.i-bg--file.file--i-avi