a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
}

svg {
	display: block;
	width: 100%;
}

h1,
.h1 {
	font-size: 80px;
	letter-spacing: -0.02em;
	font-weight: 300;
}