$componentsCss: true;

// Grid
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gutter: 30px;

$grid-breakpoints: (
	xs: 0,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1124px
);

// Fonts types
$f-main: "Roboto", Arial, Verdana, sans-serif;

// Colors
$c-main:		#3069D5;
$c-text:		#373938;
$c-accent:		#FF8900;

$trp: 			transparent;

$colors: (
	red: $c-main,
);