-
	var componentName = 'component2/';
	
	isInComponentsList(componentsList, componentName);




.component2

	p.component__title Component 2 Title

	include ../../blocks/block-2/block2

	p= componentsList