.clients
	margin-top: 109px
	padding-bottom: 133px

	+media($sm)
		margin-top: 40px
		padding-bottom: 40px

	&__title
		display: flex

		+media($lg)
			align-items: center

	&__descr
		max-width: 380px
		margin-right: 110px
		margin-left: auto
		font-size: 25px
		line-height: 1.3

	&__slider
		margin-top: 106px

		+media($sm)
			margin-top: 50px

		&-item

			&-img
				margin: 0 auto

		&-nav
			display: flex
			margin-left: 50px

			+media($lg)
				display: flex !important

			&-arrow
				width: 17px
				height: 17px
				border-right: 2px solid #373938
				border-bottom: 2px solid #373938
				cursor: pointer

				&:hover
					border-color: $c-accent

				&:active
					border-color: $c-main

				&--prev
					margin-right: 20px
					transform: rotate(135deg)

				&--next
					transform: rotate(-45deg);