// Модалка Область применения - Транспортные системы

+b.modal.modal-app-area.fade#modalAppArea-ts
	.modal-dialog
		.modal-content
			
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true") ×

			.modal-body
				
				+e.__icon
					+e('img').__icon-img(src='./images/app-icon_1.svg' alt='icon')

				+e.__title Транспортные системы

				+e.__descr Блок транзакций — специальная структура для записи группы транзакций в системе Биткойн и аналогичных ей

				+e.__text Блок состоит из заголовка и списка транзакций. Заголовок блока включает в себя свой хеш, хеш предыдущего блока, хеши транзакций и дополнительную служебную информацию. В системе Биткойн первой транзакцией в блоке всегда указывается получение комиссии, которая станет наградой майнеру за созданный блок[5]. Далее идёт список транзакций, сформированный из очереди транзакций, ещё не записанных в предыдущие блоки.

				+e('ul').__list
					+e('li').list-item Блок состоит из заголовка и списка транзакций
					+e('li').list-item Заголовок блока включает в себя свой хеш
					+e('li').list-item Далее идёт список транзакций

				+e.__text Далее идёт список транзакций, сформированный из очереди транзакций, ещё не записанных в предыдущие блоки.