+b.slider-main

	+e.__wrap.js_slider-main

		- var i = 0
		while i < 3
			- i++
			
			+e.__item
				+e.__item-inner
					
					+e.__item-text
						+e('h1').__item-title.h1 BlockChain
						+e.__item-descr Сбор, хранение и анализ данных
					
					//- +e.__item-pic
						+e('img').__item-img(src='./images/slider-main_1.svg')

	+e.__bot
		+e.__bot-text Создание и развертывание приложений на облачной платформе Интернета вещей