.slider-main
	max-width: 1312px
	margin: 0 auto

	&__wrap
		
		&:not(.slick-initialized)
			display: flex
			align-items: center
			justify-content: space-between

			.slider-main__item
				width: 1312px
				height: 640px

				&:nth-child(n + 2)
					display: none

		&.slick-dotted.slick-slider
			margin-bottom: 0

	&__item
		background: linear-gradient(48.87deg, #8DDCF6 -48.89%, #EAFAFF 81.62%);
		border-radius: 2px;

		&-inner
			display: flex

			justify-content: space-between
			height: 610px
			padding: 142px 110px 50px

		&-title

		&-descr
			margin-top: 17px
			font-size: 25px

		&-pic

		&-img

	&__bot
		max-width: 875px
		margin: 102px auto 0

		&-text
			max-width: 650px
			font-size: 25px
			line-height: 1.4

	.slick-dots
		width: auto
		left: 100px
		bottom: 113px

		li
			width: auto
			height: auto
			margin: 0 3px
			padding: 0

			button
				width: 8px
				height: 8px
				background-color: $c-text
				+circle
				margin: 5px
				padding: 0
				+transish

				&:before
					display: none

			&.slick-active

				button
					background-color: #FF8900

	.slick-arrow
		width: 30px
		height: 30px
		border-right: 2px solid $c-text
		border-bottom: 2px solid $c-text
		font-size: 0
		line-height: 0
		z-index: 20

		&:before
			display: none

	.slick-next
		right: 50px
		transform: rotate(-45deg)

	.slick-prev
		left: 50px
		transform: rotate(135deg)

