.slider-main
	max-width: 1312px
	margin: 144px auto 0

	+media($lg)
		max-width: 720px
		margin-top: 103px

	+media($md)
		max-width: 520px

	+media($sm)
		max-width: 100%
		padding: 0 15px

	&__wrap
		
		&:not(.slick-initialized)
			display: flex
			align-items: center
			justify-content: space-between

			.slider-main__item
				width: 1312px
				height: 640px

				&:nth-child(n + 2)
					display: none

		&.slick-dotted.slick-slider
			margin-bottom: 0

	&__item
		background: linear-gradient(26deg, #fff ,#fff, rgba(64,191,245,0.1),rgba(64,191,245,0.25))
		border-radius: 2px

		&-inner
			display: flex
			justify-content: space-between
			align-items: center
			height: 610px
			padding: 50px 0px 50px 100px

			+media(1600px)
				height: 500px

			+media($lg)
				height: 392px
				padding: 30px 0px 30px 60px

			+media($md)
				padding: 50px 30px 30px

			+media($sm)
				flex-direction: column
				align-items: flex-start
		
		&-text
			// margin: 142px 50px 50px 110px
		
		&-title

			+media($lg)
				font-size: 60px

			+media($sm)
				font-size: 42px
				line-height: 1

		&-descr
			max-width: 300px
			margin-top: 17px
			font-size: 25px

			+media($lg)
				font-size: 20px

			+media($sm)
				margin-top: 5px

		&-pic
			display: flex
			justify-content: center
			align-items: center

		&-img

	&__bot
		max-width: 875px
		margin: 102px auto 0

		+media($lg)
			margin: 50px auto 0

		&-text
			max-width: 650px
			font-size: 25px
			line-height: 1.4

			+media($lg)
				font-size: 20px

	.slick-dots
		width: auto
		left: 100px
		bottom: 50px

		+media($lg)
			bottom: 60px

		+media($md)
			left: 30px

		+media($sm)
			bottom: 20px
			left: 20px

		li
			width: auto
			height: auto
			margin: 0 3px
			padding: 0

			button
				width: 8px
				height: 8px
				background-color: $c-text
				+circle
				margin: 5px
				padding: 0
				+transish

				&:before
					display: none

			&.slick-active

				button
					background-color: #FF8900

	.slick-arrow
		width: 30px
		height: 30px
		border-right: 2px solid $c-text
		border-bottom: 2px solid $c-text
		font-size: 0
		line-height: 0
		z-index: 20
		+transish

		+media($lg)
			width: 22px
			height: 22px

		+media($md)
			display: none !important

		&:hover
			border-color: $c-accent

		&:active
			border-color: $c-main

		&:before
			display: none

	.slick-next
		right: 50px
		transform: rotate(-45deg)

		+media($lg)
			right: 15px

	.slick-prev
		left: 50px
		transform: rotate(135deg)

		+media($lg)
			left: 15px
	
	// .brain-pic
	// 	display: flex
	// 	min-width: 130%
	// 	min-height: 100%
	// 	transform: translate(-67px,0px)
	
	// .blockchain-pic
	// 	display: flex
	// 	width: 80%
	// 	min-height: 100%
	// 	transform: translate(-30px,30px)
	
	// .map-pic
	// 	display: flex
	// 	min-width: 100%
	// 	min-height: 100%
	// 	transform: translate(-6px,0px)