extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Главная'
	- var dir = './'
	- var layout = ''

block main

	include ../blocks/sliders/slider-main/slider-main
	include ../blocks/app-area/app-area
	include ../blocks/aiml/aiml
	include ../blocks/blockchain/blockchain
	include ../blocks/map/map
	include ../blocks/clients/clients
	include ../blocks/form-main/form-main

block popups
	include ../partials/modal/modal-app-area/modal-app-area_energo
	include ../partials/modal/modal-app-area/modal-app-area_ts
	include ../partials/modal/modal-app-area/modal-app-area_eco
	include ../partials/modal/modal-app-area/modal-app-area_city
	include ../partials/modal/modal-app-area/modal-app-area_parking
	include ../partials/modal/modal-app-area/modal-app-area_gaz
	include ../partials/modal/modal-app-area/modal-app-area_fisk
	include ../partials/modal/modal-app-area/modal-app-area_tax
	include ../partials/modal/modal-app-area/modal-app-area_prognoz
	include ../partials/modal/modal-app-area/modal-app-area_osv
	
	include ../partials/modal/modal-hero/modal-hero_blockchain
	//- include ../partials/modal/modal-hero/modal-hero_map

