// Модалка Cогласие с политикой кофиденциальности

+b.modal.modal-thanks.fade#modalArgee
	.modal-dialog
		.modal-content
			
			.modal-header
				.close-popup(data-dismiss="modal" aria-hidden="true") ×

			.modal-body
				
				+e('h3').h3 Cогласие с политикой кофиденциальности
				
				+e.__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic facere repellendus repellat natus culpa quis error maxime illum adipisci laudantium ipsam eveniet aspernatur debitis officiis sapiente, possimus et itaque fugiat.
				+e.__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic facere repellendus repellat natus culpa quis error maxime illum adipisci laudantium ipsam eveniet aspernatur debitis officiis sapiente, possimus et itaque fugiat.
				+e.__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic facere repellendus repellat natus culpa quis error maxime illum adipisci laudantium ipsam eveniet aspernatur debitis officiis sapiente, possimus et itaque fugiat.
				
				.mt30.tac
					button.btn(type='submit' data-dismiss="modal" aria-hidden="true") Закрыть